{% extends 'header.html' %}
{% block content %}
{% load static %}
<head>
    <style>
    </style>
</head>
<body>
    <div class="container">
        <h1 class="display-2">Projects
            <i class="fa-solid fa-bars-progress"></i>
        </h1>
        <hr>
        <p class="main">
        Please note that data is dynamic!
        </p>
    </div>
    <br>
    <br>
    <div class="container">
        <div class="card" style="width: 18rem;">
            <div class="card-header">
              Projects
            </div>
            {% for i in p  %}
            <ul class="list-group list-group-flush">
                <li class="list-group-item">
                    {{i.project}}
                    <a href="{{i.link}}">
                        <button type="button" class="btn btn-secondary" style="margin-top: 5px;" >
                            Visit Website
                        </button>
                    </a>
                </li>
            </ul>
            {% endfor %}
          </div>
          <br>
          <a href="{% url 'status' %}">
            <button type="button" class="btn btn-primary"> 
                <i class="fa-solid fa-comment marginright10px"></i>
                Objective
            </button>
          </a>
          <br>
          <br>
    </div>
</body>
{% include "footer.html" %}
{% endblock %}