{% extends 'header.html' %}
{% block content %}
{% load static %}
<head>
    <style>
    </style>
</head>
<body>
    <div class="main">
        <div class="container">
            <h1 class="display-2">Skills
                <i class="fa-brands fa-free-code-camp"></i>
            </h1>
            <hr>
            <p class="main">
                Please note that data is dynamic!
            </p>
            <br>
            <br>
            <table class="table">
                <thead>
                </thead>
                <tbody>
                    {% for i in s %}
                  <tr>
                    <th scope="row"></th>
                    
                    <td>{{i}}</td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
              <a href="{% url 'status' %}">
                <button type="button" class="btn btn-primary"> 
                    <i class="fa-solid fa-comment marginright10px"></i>
                    Objective
                </button>
              </a>
                <br>
                <br>
        </div>
    </div>
</body>
{% include "footer.html" %}
{% endblock %}